Coffee-machine/.idea/
Coffee-machine/bin/
Coffee-machine/lib/
Coffee-machine/pyvenv.cfg

Coffee-machine-OOP/.idea/
Coffee-machine-OOP/bin/
Coffee-machine-OOP/lib/
Coffee-machine-OOP/pyvenv.cfg

.idea/